<a href="https://colab.research.google.com/github/brunofbpaula/DataScience-UM-Coursera/blob/main/Lambda-and-List-Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Getting used to Python (yeah, again)

In [9]:
mylist = [x for x in range(1, 50+1) if x % 5 == 0]
mylist

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [10]:
newfunction = lambda y: int(y / 5)
newlist = list(map(newfunction, mylist))
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
numlist = [1, 5, 7, 5, 5, 9, 6, 87, 4, 5]
while 5 in numlist:
  numlist.remove(5)
numlist

[1, 7, 9, 6, 87, 4]

In [6]:
numlist = [1, 5, 7, 5, 5, 9, 6, 87, 4, 5]
fives = []
while 5 in numlist:
  popped = numlist.pop(numlist.index(5))
  fives.append(popped)
print(numlist)
fives

[1, 7, 9, 6, 87, 4]

[5, 5, 5, 5]

In [11]:
numlist = [5, 1, 5, 7, 5, 5, 5, 5, 5, 9, 6, 87, 4, 5]
for i in numlist[0:]:
  if i == 5:
    numlist.remove(5)
numlist

[1, 7, 9, 6, 87, 4]

In [12]:
numlist == numlist[0:]

True

In [13]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

answer = [w + x + y + z for w in lowercase for x in lowercase for y in digits for z in digits]
answer[:10]  # ten first possibilities

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09']