## **DATA FILES**

In [11]:
import csv

In [ ]:
%precision 2

MPG *Dataset*

In [13]:
with open('datasets/mpg.csv') as csvfile: # open a file, find its directory and then give it an alias
    mpg = list(csv.DictReader(csvfile)) # atributte the result to a variable, transform it into a list and use the DictReader function from the csv lib

mpg[0] # taking a look at the first dictionary in the list

{'': '1',
 'manufacturer': 'audi',
 'model': 'a4',
 'displ': '1.8',
 'year': '1999',
 'cyl': '4',
 'trans': 'auto(l5)',
 'drv': 'f',
 'cty': '18',
 'hwy': '29',
 'fl': 'p',
 'class': 'compact'}

In [14]:
car_statment = "{} {} {}".format(mpg[0]['manufacturer'], mpg[0]['model'], mpg[0]['year']) # Concatenating statment
car_statment

'audi a4 1999'

In [15]:
average_city_mpg = sum(float(d['cty']) for d in mpg) / len(mpg)
average_city_mpg

16.86

In [16]:
average_hwy_mpg = sum(float(d['hwy']) for d in mpg) / len(mpg)
average_hwy_mpg

23.44

In [17]:
average_cyl_mpg = sum(float(d['cyl']) for d in mpg) / len(mpg)

In [18]:
average_cyl_mpg

5.89

In [19]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [20]:
CtyMpgByCyl= []
for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMpgByCyl.append((c, (summpg / cyltypecount)))

CtyMpgByCyl.sort(key=lambda y: y[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [21]:
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [22]:
HwyMpgByClass = []
for vc in vehicleclass:
    summpg = 0
    vehiclecount = 0
    for d in mpg:
        if d['class'] == vc:
            summpg += float(d['hwy'])
            vehiclecount += 1
    HwyMpgByClass.append((vc, (summpg / vehiclecount)))

HwyMpgByClass.sort(key=lambda y: y[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]